.center {
	text-align: center;
}
.s-title {
	font-size: 3rem;
	font-weight: 800;
}
.bold {
	font-weight: 700;
}
.large {
	font-size: 2rem;
	
}
.medium {
	font-size: 1.5rem;
}
.small {
	font-size: 1rem;
}